.counter-container {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    gap: 150px;
}

.counter-box{
    width: 430px;
    height: 600px;
    background-color: #f0f0f0;
    border: 3px solid #ccc;
    border-radius: 15px;
}
.counter-box-header{
    font-size: 26px;
    margin: 0 0 10px 15px;
}