.girl-row-container:hover {
    box-shadow: 0 0 0 1px inset #000;
    border-radius: 5px;
}

.edit-girlcontainer:hover {
    box-shadow: none;

}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 600px;
    margin: 5px auto;
    padding: 10px 15px
}

.new-girl-container {
    margin-top: 30px;
}


.new-girl-input,
.edit-girl-input {
    font-size: 16px;
    border: 1px solid black;
    border-radius: 5px;
    width: 450px;
    padding: 10px 10px;
}


.btn {
    height: 30px;
    width: 81px;
    margin-right: -8px;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid black;
}

.btn:hover {
    background-color: #d7d7d7;
}

.btn:active {
    background-color: #fff;
}

.actions {
    display: flex;
}

.actions img {
    cursor: pointer;
}

.remove {
    width: 30px;
    width: 30px;
}

.edit {
    padding-top: 4px;
    margin-left: 15px;
    width: 20px;
    height: 20px;
}