input[type="number"] {
    -moz-appearance: textfield;
    /* Firefoxhoz */
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.service-row {
    position: sticky;
    top: 40px;
    z-index: 1000;
    ;

}

.cash-card-row {
    position: sticky;
    top: 79.2px;
}

.service-row th {
    background-color: #fff;
}

.cash-card-row {
    position: sticky;
    left: 0;
}

.btn {
    height: 30px;
    width: 81px;
    margin-right: -8px;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.btn:hover {
    background-color: #d7d7d7;
}

.btn:active {
    background-color: #fff;
}

.girls-table-container {
    position: relative;
}

table {
    border-collapse: separate;
    border-spacing: 0;
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.section-girl-dropdown {
    margin-top: 50px;
    display: flex;
    margin-left: 30px;
}

.section-girl-dropdown p {
    font-size: 24px;
    margin-top: 22px;
    margin-bottom: 28px;
}

.section-girl-dropdown select {
    font-size: 16px;
    height: 30px;
    margin: 25px 0 auto 10px;
}

.elso {
    margin: 0;
    width: 320px !important;
}

th,
td {
    border: 1px solid rgba(0, 0, 0, 0.5);
    padding: 8px;
    text-align: center;
    white-space: nowrap;

}

.girl-row:hover {
    background-color: rgb(235, 235, 235);
}

.girl-name {
    display: flex;
    align-items: center;
    /* Függőleges igazításhoz */
    gap: 10px;
    /* Távolság a kép és a szöveg között */
}

.remove-girl-icon {
    width: 20px;
    /* Tetszés szerint módosítható */
    height: 20px;
    cursor: pointer;
    /* Ha szeretnéd, hogy kattintható legyen */
}

.remove-girl-icon:hover {
    transform: scale(1.3);
}

.girl-bg {
    background-color: #93C47D;
}


.number-input {
    text-align: center;
    width: 50px;
    padding: 8px 0;
    border: none;
    font-size: 16px;
    outline: none;
    background-color: transparent !important;

}



.number-td:hover {
    box-shadow: 0 0 0 2px inset #93C47D;
}

.number-td:focus-within,
.number.input:focus {
    background-color: #62b63b69;
}


.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    /* Áttetsző fekete háttér */
    z-index: 99;
    /* Az oldal legtetején legyen */
    pointer-events: auto;
    /* Tiltja a kattintásokat, így a modalon kívül semmi nem lesz kattintható */
}

.multiple-girls {
    position: fixed;
    background-color: #f5f5f5;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    width: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.5);
    padding: 10px 30px;
    z-index: 100;
}

.multiple-girls .header {
    font-size: 20px;
    text-align: center;
    margin-bottom: 30px;
}

.multiple-girls-items {
    margin-left: 28px;
}

.first-girl {
    margin: 6.5px 0;
}

.first-girl span {
    margin-left: 10px;
}


.multiple-girls-item select {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    box-sizing: border-box;
    margin: 2px 10px;
}

.multiple-girls-btn-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 11px;
}

.multiple-girls-btn-container .btn {
    cursor: pointer;
}

.multiple-girls-item .error-message {
    width: 268px;
    text-align: end;
    font-size: 16px;
    margin: 0 0 5px 0;
    color: red;
}

/* Az első 4 oszlop fixálása */
/* Első oszlop */
.girls-table th:nth-child(1),
.girls-table td:nth-child(1) {
    position: sticky;
    left: 0;
    width: 337.6px;
    /* A képen látható méret */
    z-index: 100;
    background-color: #fff;
}

/* Második oszlop */
.girls-table th:nth-child(2),
.girls-table td:nth-child(2) {
    position: sticky;
    left: 337.6px;
    /* Az előző oszlop szélessége */
    width: 83.06px;
    z-index: 100;
}

/* Harmadik oszlop */
.girls-table th:nth-child(3),
.girls-table td:nth-child(3) {
    position: sticky;
    left: 420.66px;
    /* 337.6 + 83.06 */
    width: 83.34px;
    z-index: 100;
}

/* Negyedik oszlop */
.girls-table th:nth-child(4),
.girls-table td:nth-child(4) {
    position: sticky;
    left: 504px;
    /* 420.66 + 83.34 */
    width: 61.9px;
    z-index: 100;
}