.girl-row {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 600px;
    margin: 5px auto;
    /* Ez középre helyezi a sort, és ad egy kis margót */
}

.girl-row:hover {
    box-shadow: 0 0 0 1px inset #000;
    border-radius: 5px;
}

.girl-row.editing:hover {
    box-shadow: none;
    ;
}

.new-girl {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 600px;
    margin: 30px auto 5px auto;
}

.new-girl-input,
.edit-girl-input {
    font-size: 16px;
    border: 1px solid black;
    border-radius: 5px;
    width: 450px;
    padding: 10px 10px;
}

.new-girl-btn {
    height: 30px;
    margin-right: 25px;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid black;
}

.new-girl-btn:hover {
    background-color: #d7d7d7;
}

.new-girl-btn:active {
    background-color: #fff;
}

.actions {
    display: flex;
}

.actions img {
    cursor: pointer;
}

.remove {
    width: 30px;
    width: 30px;
}

.edit {
    padding-top: 4px;
    margin-left: 15px;
    width: 20px;
    height: 20px;
}