input[type="number"] {
    -moz-appearance: textfield;
    /* Firefoxhoz */
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

table {
    border-collapse: collapse;
}


th,
td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
    width: 200px;
    white-space: nowrap;
    /* Ha nem akarod a sortörést */
}

.girl-name {
    width: 200px !important;
}

.girl-bg {
    background-color: #93C47D;
}


.number-input {
    text-align: center;
    width: 50px;
    padding: 8px;
    border: none;
    font-size: 16px;
    outline: none;
    background-color: transparent !important;
}

.number-td:hover {
    box-shadow: 0 0 0 2px inset #93C47D;
}




.number-td:focus-within,
input:focus {
    background-color: #62b63b69;
}