.navbar {
    /*position: fixed;
    top: 0;*/
    width: 100%;
    display: flex;
    justify-content: center;
    height: 40px;
    background-color: black;
    color: white;
    z-index: 1000;
}

.nav-item {
    margin: 10px 10px;
    color: white;
    text-decoration: none;
    border-right: 1px black solid;
    border-left: 1px black solid;
}

.service-row {
    /*position: sticky;
    box-shadow: 0 0 0 1px inset #000;
    top: 39px;*/
    background-color: #fff;
    border: 1px black solid;
    z-index: 999;
}

.cash-card-row {
    /*position: sticky;
    box-shadow: 0 0 0 1px inset #000;
    top: 75px;*/
    background-color: #fff;
    border: 1px black solid;
    z-index: 998;
}

.nav-item.active,
.nav-item:hover {
    background-color: #7a7a7a;
    margin: 0;
    padding: 10px;
}