.services-main-content {
    margin-top: 70px;
}

.services-row-container:hover {
    box-shadow: 0 0 0 1px inset #000;
    border-radius: 5px;
}

.services-edit-container:hover {
    box-shadow: none;
}

.services-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 600px;
    margin: 20px auto;
    padding: 10px 15px;
    cursor: pointer;
    font-weight: 600;
}

.services-container-open {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 600px;
    margin: 5px auto;
    padding: 10px 15px;
    cursor: pointer;
    background-color: #f5f5f5;
    border-radius: 10px;
    font-weight: 600;
}

.services-dropdown-content {
    border-radius: 10px;
    margin-top: -20px;
    flex-direction: column;
    align-items: start;
    width: 515px;
    padding-left: 100px;
    cursor: default;
    font-weight: normal;
    background-color: #f5f5f5;
}

.services-dropdown-item {
    width: 400px;
    margin: 5px;
}

.services-dropdown-item span {
    margin-left: 10px;
}

.services-new-container {
    margin-top: 30px;
}

.services-new-input,
.services-edit-input {
    font-size: 16px;
    border: 1px solid black;
    border-radius: 5px;
    width: 450px;
    padding: 10px 10px;
}

.services-edit-dropdown-input {
    font-size: 14px;
    margin-left: 5px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 8px;
}

.services-btn {
    height: 30px;
    width: 81px;
    margin-right: -8px;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid black;
}

.services-btn:hover {
    background-color: #d7d7d7;
}

.services-btn:active {
    background-color: #fff;
}

.services-actions {
    display: flex;
}

.services-actions img {
    cursor: pointer;
}

.services-actions img:hover {
    transform: scale(1.1);
}

.services-remove {
    width: 30px;
    height: 30px;
}

.services-edit {
    padding-top: 4px;
    margin-left: 15px;
    width: 20px;
    height: 20px;
}

.services-cancel-save-buttons {
    width: 60%;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 10px;
}