/* ========== MAIN CONTAINER STYLES ========== */
.services-main-content {
    margin-top: 70px;
}

/* ========== ROW CONTAINER STYLES ========== */
.services-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 600px;
    margin: 5px auto;
    padding: 10px 15px;
}

.services-container-open {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 600px;
    margin: 5px auto;
    padding: 10px 15px;
    cursor: pointer;
    background-color: #f5f5f5;
    border-radius: 10px;
    font-weight: 600;
}

.services-row-container:hover {
    box-shadow: 0 0 0 1px inset #000;
    border-radius: 5px;
}

.services-edit-container:hover {
    box-shadow: none;
}

/* ========== DROPDOWN STYLES ========== */
.services-dropdown-content {
    border-radius: 10px;
    margin-top: -20px;
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 515px;
    padding-left: 100px;
    cursor: default;
    font-weight: normal;
    background-color: #f5f5f5;
}

.services-dropdown-item {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 5px 0;
}



.services-dropdown-item label {
    flex: 0 0 110px;
    text-align: left;
}

.services-dropdown-item input {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    width: 100%;
    box-sizing: border-box;
}


.services-edit-dropdown-item label {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    width: 100%;
    box-sizing: border-box;
}

.services-edit-dropdown-input {
    font-size: 14px;
    margin-left: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px 8px;
    width: 130px !important;
}

/* ========== FORM STYLES (NEW & EDIT INPUTS) ========== */
.services-new-container {
    justify-content: start;
    margin-top: 30px;
    margin-bottom: 0;
    gap: 25px;
}

.services-new-input,
.services-edit-input,
.services-search-input {
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 450px;
    padding: 10px 10px;
}



.services-add-dropdown {
    width: 580px;
    padding: 20px 0 15px 20px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    gap: 10px;
    background-color: #f5f5f5;
    border-radius: 10px;
}

.services-search-dropdown {
    width: 610px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding: 0px 15px;
}

.services-add-dropdown .services-btn {
    height: 34px;
    padding: 1px 10px;
    width: auto;
}

.service-new-button,
.service-search-button {
    font-size: 14px;
    height: 40px !important;
    padding: 1px 10px;
    width: auto !important;
}


.services-add-dropdown-item,
.services-search-dropdown-item {
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 0 5px;
}

.services-add-dropdown-item label {
    flex: 0 0 110px;
}

.services-add-dropdown-item input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.services-search-dropdown-item input {
    padding: 10px;
    width: 300px;
    border: 1px solid #000000;
}

/* ========== BUTTON STYLES ========== */



.services-btn:hover {
    background-color: #e2e2e2;
    border: 1px solid #808080;
}

.services-btn:active {
    background-color: #fff;
}

.services-cancel-save-buttons {
    width: 90%;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 10px;
}



/* ========== ACTION ICONS STYLES ========== */
.services-actions {
    display: flex;
}

.services-actions img {
    cursor: pointer;
}

.services-actions img:hover {
    transform: scale(1.1);
}

.services-remove {
    width: 30px;
    height: 30px;
}

.services-edit {
    padding-top: 4px;
    margin-left: 15px;
    width: 20px;
    height: 20px;
}